select {
  -moz-appearance: none !important;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.2em;

  background-image: url("data:image/svg+xml;utf8,\<svg class='-mr-1 ml-2 h-5 w-5' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>\<path fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'>\</path>\</svg>")
}

select[name="set"] {
  -webkit-appearance: none !important;
}

select::-ms-expand {
  display: none;
}

select,
::picker(select) {
  appearance: base-select;
  @apply bg-surface-container-highest 
}

select::picker-icon {
  opacity: 0;
}

::picker(select) {
  margin-top: 3px;
  border: none;
  border-radius: 8px;
  @apply shadow-sm shadow-contrast
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}

option {
  @apply py-2 text-contrast;
}